.contact-us {
    width: 100%;
    padding: 20px;
    margin: auto;
    background: #dedede;
  }
  .form {
    width: 500px;
    margin: auto;
  }
  fieldset {
    padding: 20px;
  }
  .form textarea,
  input {
    font-family: "Georgia", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
  
    placeholder {
      text-transform: uppercase;
    }
  }
  #contact .btn{
    background: #8a7769;
    font-family: "Georgia", sans-serif;
    text-transform: uppercase;
  }
  #contact .btn:hover{
    color: white;
  }
  .message-btn {
    width: 50%;
    margin: auto;
    cursor: pointer;
  }
  .contact-form-text-area {
    color: black;
  }
  .hidden {
    display: none;
  }
  .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    font-size: 0.8em;
  }
  
  .alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    font-size: 0.8em;
  }
  
  .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
    font-size: 0.8em;
  }
  
  .alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    font-size: 0.8em;
  }
  
  .shadow {
    background: #8a7769;
    color: #fff;
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  .shadow:before,
  .shadow:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
  }
  .shadow:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
  }
  
  @media screen and (max-width: 700px) {
    form {
      width: 100%;
    }
  }